.globe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: '10px';
    max-width: 1280px;
  }

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  @media (max-width: 768px) {
    .globe-container {
        flex-direction: column;
        margin-top: 20px;
    }
    #root {
        padding: 1rem; 
    }
}