.globe-col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: auto;
}

.globe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: '10px';
}
.global-text {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 90%;
  color: rgb(255, 255, 255);
}
#root {
  margin: 0 auto;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(32, 38, 40));
  height: 100%;
  min-height: 100vh;
}

body {
  margin: 0
}


@media (max-width: 768px) {
  .globe-container {
    flex-direction: column;
    margin-top: 20px;
  }

  .globe-col {
    flex-direction: column;
    margin-top: 20px;
  }
  .global-text {
    font-size: 70%;
  }
}